:root{
  --box-shadow:5px 5px 10px 10px rgba(101,175,10,0.5) ;
  --bg-color:rgb(40,47,97);
}

body{
  background:rgb(11,26,51) ;
  color:white;
}
a{
  text-decoration: none;
  color:white;
}

/* Navbar Css */
.nav_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_bar .nav_items{
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid red;
}
.nav_items:hover{
  border-bottom: 2px solid  yellow;
  color:yellow;
}


/* Home page Css */
.home{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .left{
  background-color:var(--bg-color);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}
.home .right{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px ;
  width: 300px; */
}
.home .right .img img{
  height: 270px;
  width: 270px;
  border-radius: 100%;
  border: 5px solid yellow;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
 }
@keyframes superman{
  0%{
    border: 5px solid blue;
     transform: translate(0,0px);
     box-shadow: 10px 10px 100px 50px blue;
  }
  25%{
    border: 5px solid rgb(239,244,11);
    box-shadow: 10px 10px 100px 50px rgb(239,244,11);
  }
  50%{
    border: 5px solid rgb(12,12,199);
    transform: translate(0,10px);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);
  }
  75%{
    border: 5px solid rgb(130,217,160);
    box-shadow: 10px 10px 100px 50px rgb(130,217,160);
  }
  100%{
    border: 5px solid rgb(50,55,205);
    transform: translate(0,-0px);
    box-shadow: 10px 10px 100px 50px rgb(50,55,205);
  }
}

/* Experience css */
.exp{
   width: 900px;
}
.exp-item{
  display: flex;
  justify-content:space-evenly;
align-items: center;
width:770px ;
background-color: var(--bg-color);
margin: 20px;
padding: 25px;
border-radius: 10px;
border: 1px solid yellow;
box-shadow: var(--box-shadow);
}

/* skills css */

.skills{
  width: 900px;
}
.skills .items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.skills .items .item{
  width: calc(33.33%);
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid  yellow;
  box-shadow: var(--box-shadow);

}
.skills .items .item img{
  width: 70px;
}

.contact-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact-icons .item{
  background-color: black;
 margin: 10px;
 border-radius: 50%;
  display: flex;
  height: 3rem;
  width: 3rem;
    justify-content: center;
  align-items: center;
  border: 2px solid yellow;
}
 .item :hover{
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
}
.icons{
  font-size: 2rem;
}